/* Defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

/* refactored from react hexagrid */
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.877);
  background-image: url('./images/tiles.png');
  background-repeat: repeat;
}

.form-group {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.content {
  padding-top: 10px;
}

.grid-data-display,
.active-grid-list {
  margin-left: 5rem;
  width: 23rem;
  font-size: 0.8rem;
}

.active-grid {
  font-size: 0.9rem;
}

#textboxid {
  height: 200px;
  font-size: 14pt;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0.4rem;
}

/* svg {
} */
svg g {
  fill: #9ea7e7;
  fill-opacity: 0.15;
}
svg g .selected {
  fill-opacity: 1;
}
svg g:hover {
  fill-opacity: 1;
}
svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #6e81ec;
  stroke-width: 0.2;
  transition: fill-opacity 0.2s;
}
svg g text {
  font-size: 0.075rem;
  fill: #000000;
  fill-opacity: 0.8;
  transition: fill-opacity 0.2s;
  font-weight: bold;

  /* make text unselectable */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
