/* Defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.877);
  background-image: url('./images/tiles.png');
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.grid-data-display {
  margin-left: 12rem;
  margin-top: -13rem;
  width: 25rem;
  font-size: 0.8rem;
}

.energy-inside-grid {
  margin-top: 10rem;
  /* make text unselectable */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0.4rem;
}

#textboxid {
  height: 200px;
  font-size: 14pt;
}

/* svg {
} */
svg g {
  fill: #9ea7e7;
  fill-opacity: 0.15;
}

svg g:hover {
  fill-opacity: 0.5;
}

svg g .selected {
  fill-opacity: 1;
}

svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #6e81ec;
  stroke-width: 0.2;
  transition: fill-opacity 0.2s;
}

svg g text {
  font-size: 0.075rem;
  fill: #000000;
  fill-opacity: 0.8;
  transition: fill-opacity 0.2s;
  font-weight: bold;

  /* make text unselectable */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
